.paragraph_title {
   padding-top: 2%;
   padding-bottom: 2%;
   font-family: 'Open Sans Condensed', sans-serif;
   letter-spacing: 2px;
   font-size: 4.5rem;
   text-align: center;
}

.paragraph_content {
   padding-top: 2%;
   padding-bottom: 4%;
   font-family: 'Open Sans Condensed', sans-serif;
   letter-spacing: 1px;
   font-size: 2.5rem;
   text-align: center;
}

.paragraph_img {
   width: 40vw;
}

.para_title {
   padding-top: 8%;
   padding-bottom: 1%;
   font-family: 'Work Sans', sans-serif;
   letter-spacing: 2px;
   font-size: 3rem;
   text-align: left;
}

.para_text {
   padding-top: 2%;
   font-family: 'Work Sans', sans-serif;
   font-size: 1.7rem;
   text-align: left;
}

.choose_style {
   padding-top: 5%;
   font-size: 4rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.style_img_left {
   padding-top: 1%;
   padding-right: 2%;
   padding-bottom: 1%;
}

.style_img_right {
   padding-top: 1%;
   padding-left: 2%;
   padding-bottom: 1%;
}