.quote {
   padding-top: 3%;
   font-size: 5rem;
   font-family: 'Open Sans Condensed', sans-serif;
   text-align: center;
}

.big_quote{
   font-size: 4rem;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   
}

.quoter {
   padding-top: 2%;
   font-size: 2rem;
   text-align: center;
   font-family: 'Work Sans', sans-serif;
}

.learn_img {
   width: 10vw;
}