.img {
   position: relative;
   float: left;
   height: 100%;
   width: 100%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}


























// .lookbook_img {
//    height: 60vh;
//    width: 30vw;
//    padding-top: 3%;
//    padding-bottom: 3%;
// }

// .right {
//    float: right;
//    padding-right: 3%;
// }

// .center {
//    margin: auto;
// }

// .left {
//    float: left;
//    padding-left: 3%;
// }
