.nav {
   box-shadow: 0 6px 3px -6px black;
   margin: 0 auto;
   background-color: white;
}

.link {
   text-align: right;
   height: 10vh;
   padding-top: 2%;
   word-spacing: 25px;
   font-size: 1.8rem;
   font-family: 'Josefin Sans', sans-serif;
}

.logo {
   padding-left: 8%;
   padding-top: 1%;
}



